@import "../../styles/variables", "../../styles/fonts";

.section-posts {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
}
