@import "../../styles/variables", "../../styles/fonts", "../../styles/metrics";

.button {
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 20px;
  color: $white;
  padding: $space-medium;
  font-size: $size-medium;
  margin: 0 $space-small;
  transition: 0.2s;

  &:hover {
    background-color: $white50;
  }
}

.primary {
  color: $blue;
  border-color: $blue;
  font-size: $size-big;
}

.cancel {
  color: $secondary;
  border-color: $secondary;
  font-size: $size-big;
}
