@import "../../styles/variables", "../../styles/fonts";

.header-main {
  position: relative;
  top: -100px;
  margin: 0 0 -50px 0;

  &__title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: $white;
    font-size: 50px;
    line-height: 50px;
    white-space: pre;
  }

  &__title-blue {
    color: $blue;
  }
}
