@import "../../styles/fonts", "../../styles/variables", "../../styles/metrics";

.header {
  display: flex;
  justify-content: space-between;
  padding: $space-medium $space-big;
  align-items: center;

  &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.web-title {
  font-size: $size-h1;
  color: $white;
  font-weight: 800;

  &--secondary {
    font-weight: 500;
    color: $blue;
  }
}
