@import "./styles/reset", "./styles/variables", "./styles/fonts";

body {
  background-color: $darkGray;
  font-family: $main-font-family;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 0.1px solid #b7b7b7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c5c5c;
}
